{% extends "base.html" %}
{% block title %} - Consequences{% endblock %}
{% block content %}

<div class = "row">
<div class = "col-md-9">
	<div>
  		{{ fig | safe}}
    		
	</div>
</div>

<div class = "col-md-3">
	<form id='userselection' method='post' action=''  >
    	<input type="radio" name="options" id="LinePlot" value="ShowYearly"> Show Yearly Granularity</input><br>
		<input type="radio" name="options" id="StackBar" value="ShowDecade"> Show Decade Granularity</input><br>
		<input type="radio" name="options" id="StackBar" value="Show2Years"> Show Two Year Granularity</input><br>
		<input type="radio" name="options" id="StackBar" value="Show4Years"> Show Four Year Granularity</input><br>

		<p>
           <button class="btn btn-primary" type="submit">Submit</button>
         </p>
	</form>
</div>
</div>
		

{% endblock %}